<!DOCTYPE html>
<title>Periodic Table Map</title>
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
{{#if (isProduction)}}
    <style>{{{@css}}}</style>
    <script defer src="/static/build/app.min.js?v={{@version}}"></script>
{{else}}
    <link rel=stylesheet href="/static/css/main.css">
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/dragscroll.js"></script>
{{/if}}

<body zoom={{zoom}}>
    <aside>
        <div id=zoom>
            <a href="?z={{incrementZoom zoom}}" value=1 title="Zoom in">+<i> Zoom in</i></a>
            <a href="?z={{decrementZoom zoom}}" value=-1 title="Zoom out">−<i> Zoom Out</i></a>
        </div>

        <input type=checkbox id=toggle-filters>
        <div id=filters>
            <label for=toggle-filters>Filters</label>
            <div>
                <fieldset id=filter-temp>
                    <label>State @ </label>
                    <input type=number min=-460 max=10340 id=temp>
                    <select>
                        <option value=k selected>K</option>
                        <option value=c>°C</option>
                        <option value=f>°F</option>
                    </select>
                </fieldset>
                <fieldset id=filter-state class=radios>
                    <input id=input-state-gas type=radio name=state value=gas>
                    <label for=input-state-gas><i>✓</i> Gas</label>

                    <input id=input-state-liquid type=radio name=state value=liquid>
                    <label for=input-state-liquid><i>✓</i> Liquid</label>

                    <input id=input-state-solid type=radio name=state value=solid>
                    <label for=input-state-solid><i>✓</i> Solid</label>
                </fieldset>
                <fieldset id="filter-find">
                    <label>Find  <input id=find placeholder="Antimony"></label>
                </fieldset>
                <fieldset id="filter-year">
                    <label>Year <input type=number min=1669 max={{year}} id=year></label>
                    <button type=button id=year-apply>Apply</button>
                </fieldset>
                <fieldset id="filter-category" class=radios>
                    <span>Categories:</span>

                    <input type=radio name=category id=input-cat-nonmetals value="n,h,ng">
                    <label for=input-cat-nonmetals><i>✓</i> Non-metals</label>

                    <input type=radio name=category id=filter-cat-metalloids value=m>
                    <label for=filter-cat-metalloids c=m><i>✓</i> Metalloids</label>

                    <input type=radio name=category id=filter-cat-n value=n>
                    <label for=filter-cat-n c=n><i>✓</i> Other non-metals</label>

                    <input type=radio name=category id=filter-cat-h value=h>
                    <label for=filter-cat-h c=h><i>✓</i> Halogens</label>

                    <input type=radio name=category id=filter-cat-ng value=ng>
                    <label for=filter-cat-ng c=ng><i>✓</i> Noble gases</label>

                    <input type=radio name=category id=filter-cat-metals value="am,aem,l,a,tm,ptm">
                    <label for=filter-cat-metals><i>✓</i> Metals</label>

                    <input type=radio name=category id=filter-cat-am value=am>
                    <label for=filter-cat-am c=am><i>✓</i> Alkali metals</label>

                    <input type=radio name=category id=filter-cat-aem value=aem>
                    <label for=filter-cat-aem c=aem><i>✓</i> Alkaline earth metals</label>

                    <input type=radio name=category id=filter-cat-l value=l>
                    <label for=filter-cat-l c=l><i>✓</i> Lanthanides</label>

                    <input type=radio name=category id=filter-cat-a value=a>
                    <label for=filter-cat-a c=a><i>✓</i> Actinides</label>

                    <input type=radio name=category id=filter-cat-tm value=tm>
                    <label for=filter-cat-tm c=tm><i>✓</i> Transition metals</label>

                    <input type=radio name=category id=filter-cat-ptm value=ptm>
                    <label for=filter-cat-ptm c=ptm><i>✓</i> Post-transition metals</label>
                </fieldset>
            </div>
        </div>
    </aside>
    <main id="wrap">
        <div id="tables">
            <h1>Periodic<br>Table<br>Map</h1>
            <table class=elements>
                <tr>
                    <th></th>
                    {{#range 1 19}}
                        <th group>{{#if index}}{{index}}{{/if}}</th>
                    {{/range}}
                </tr>
                {{#range 1 8}}
                    <tr>
                        <th period>{{index}}</th>
                        {{#range 1 19}}
                            {{#with (getElementAtPosition ../index index)}}
                                <td s={{symbol}} c={{toInitialism groupBlock}} t={{meltingPoint}},{{boilingPoint}} y={{yearDiscovered}}>
                                    {{> element element=this zoom=../../../zoom}}
                                </td>
                            {{else}}
                                {{#if (isLanthanidesGroup ../index index)}}
                                    <td c=l class=lanthinedes>
                                        <div>
                                            <p class=an>57-71</p>
                                            <p class=s>*</p>
                                            <p class=n>Lanthanides</p>
                                        </div>
                                    </td>
                                {{else if (isActinidesGroup ../index index)}}
                                    <td c=a class=actinides>
                                        <div>
                                            <p class=an>89-103</p>
                                            <p class=s>**</p>
                                            <p class=n>Actinides</p>
                                        </div>
                                    </td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            {{/with}}
                        {{/range}}
                    </tr>
                {{/range}}
                <tr>
                    <th></th>
                    <th block colspan=2>s</th>
                    <th block colspan=10>d</th>
                    <th block colspan=6>p</th>
                </tr>
            </table>

            <table class="elements">
                <tr>
                    <th block rowspan=2>f</th>
                    <th group=l colspan=2>* Lanthanides</th>
                    {{#each (lanthanides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}" y={{yearDiscovered}}>
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
                <tr>
                    <th group=a colspan=2>** Actinides</th>
                    {{#each (actinides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}" y={{yearDiscovered}}>
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
            </table>
        </div>
    </main>
</body>