<!DOCTYPE html>
<title>Periodic Table</title>
<meta name="viewport" content="width=device-width,user-scalable=no" />
<link rel=stylesheet href="/static/css/main.css">
<script async src=/static/js/app.js></script>
<script async src=/static/js/dragscroll.js></script>
<body z={{zoom}} class=dragscroll>
    <div id=z>
        <button type=button zoom value=1>+</button>
        <button type=button zoom value=-1>-</button>
    </div>

    <div id=f>
        <span>Filters</span>
        <div>
            <fieldset id=fs>
                <span>State @:</span>
                <input type=number min=-460 max=10340 id=t>
                <select>
                    <option value=k selected>K</option>
                    <option value=c>°C</option>
                    <option value=f>°F</option>
                </select>
                <label><input type=radio name=st value=g><i>✓</i> Gas</label>
                <label><input type=radio name=st value=l><i>✓</i> Liquid</label>
                <label><input type=radio name=st value=s><i>✓</i> Solid</label>
            </fieldset>
            <fieldset id="fc">
                <span>Categories:</span>
                <label><input type=radio name=c value="n,h,ng"><i>✓</i> Non-metals</label>
                <label c=m><input type=radio name=c value=m><i>✓</i> Metalloids</label>
                <label c=n><input type=radio name=c value=n><i>✓</i> Other non-metals</label>
                <label c=h><input type=radio name=c value=h><i>✓</i> Halogens</label>
                <label c=ng><input type=radio name=c  value=ng><i>✓</i> Noble gases</label>
                <label><input type=radio name=c value="am,aem,l,a,tm,ptm"><i>✓</i>Metals</label>
                <label c=am><input type=radio name=c value=am><i>✓</i> Alkali metals</label>
                <label c=aem><input type=radio name=c value=aem><i>✓</i> Alkaline earth metals</label>
                <label c=l><input type=radio name=c value=l><i>✓</i> Lanthanides</label>
                <label c=a><input type=radio name=c value=a><i>✓</i> Actinides</label>
                <label c=tm><input type=radio name=c value=tm><i>✓</i> Transition metals</label>
                <label c=ptm><input type=radio name=c value=ptm><i>✓</i> Post-transition metals</label>
            </fieldset>
        </div>
    </div>
    <div class="wrap">
        <div class="tables">
            <table class=elements>
                <tr>
                    {{#range 0 19}}
                        <th g>{{#if index}}{{index}}{{/if}}</th>
                    {{/range}}
                </tr>
                {{#range 1 8}}
                    <tr>
                        <th p>{{index}}</th>
                        {{#range 1 19}}
                            {{#with (getElementAtPosition ../index index)}}
                                <td s={{symbol}} c={{toInitialism groupBlock}} t={{meltingPoint}},{{boilingPoint}}>
                                    {{> element element=this zoom=../../../zoom}}
                                </td>
                            {{else}}
                                {{#if (isLanthanidesGroup ../index index)}}
                                    <td c=l class=lanthinedes>
                                        <div>
                                            <p class=an>57-71</p>
                                            <p class=s>*</p>
                                            <p class=n>Lanthanides</p>
                                        </div>
                                    </td>
                                {{else if (isActinidesGroup ../index index)}}
                                    <td c=a class=actinides>
                                        <div>
                                            <p class=an>89-103</p>
                                            <p class=s>**</p>
                                            <p class=n>Actinides</p>
                                        </div>
                                    </td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            {{/with}}
                        {{/range}}
                    </tr>
                {{/range}}
                <tr>
                    <th></th>
                    <th b colspan=2>s</th>
                    <th b colspan=10>d</th>
                    <th b colspan=6>p</th>
                </tr>
            </table>

            <table class="elements">
                <tr>
                    <th b rowspan=2>f</th>
                    <th g=l colspan=2>* Lanthanides</th>
                    {{#each (lanthanides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}">
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
                <tr>
                    <th g=a colspan=2>** Actinides</th>
                    {{#each (actinides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}">
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</body>