<!DOCTYPE html>
<title>Zoomable Periodic Table of Elements</title>
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
{{#if (isProduction)}}
    <style>{{{@css}}}</style>
    <script defer src="/static/build/app.min.js?v={{@version}}"></script>
{{else}}
    <link rel=stylesheet href=/static/css/main.css>
    <script defer src=/static/js/main.js></script>
    <script defer src=/static/js/dragscroll.js></script>
{{/if}}

<body z={{zoom}}>
    <div id=z>
        <a href="?z={{incrementZoom zoom}}" value=1 title="Zoom in">+<i> Zoom in</i></a>
        <a href="?z={{decrementZoom zoom}}" value=-1 title="Zoom out">−<i> Zoom Out</i></a>
    </div>

    <input type=checkbox id=toggle>
    <div id=f>
        <label for=toggle>Filters</label>
        <div>
            <fieldset id=ft>
                <label>State @ </label>
                <input type=number min=-460 max=10340 id=temp>
                <select>
                    <option value=k selected>K</option>
                    <option value=c>°C</option>
                    <option value=f>°F</option>
                </select>
            </fieldset>
            <fieldset id=fs class=radios>
                <label><input type=radio name=st value=G><i>✓</i> Gas</label>
                <label><input type=radio name=st value=L><i>✓</i> Liquid</label>
                <label><input type=radio name=st value=S><i>✓</i> Solid</label>
            </fieldset>
            <fieldset id="ff">
                <label>Find  <input id=find placeholder="Antimony"></label>
            </fieldset>
            <fieldset id="fy">
                <label>Year <input type=number min=1669 max={{year}} id=year></label>
                <button type=button id=yearApply>Apply</button>
            </fieldset>
            <fieldset id="fc" class=radios>
                <span>Categories:</span>
                <label><input type=radio name=c value="n,h,ng"><i>✓</i> Non-metals</label>
                <label c=m><input type=radio name=c value=m><i>✓</i> Metalloids</label>
                <label c=n><input type=radio name=c value=n><i>✓</i> Other non-metals</label>
                <label c=h><input type=radio name=c value=h><i>✓</i> Halogens</label>
                <label c=ng><input type=radio name=c  value=ng><i>✓</i> Noble gases</label>
                <label><input type=radio name=c value="am,aem,l,a,tm,ptm"><i>✓</i>Metals</label>
                <label c=am><input type=radio name=c value=am><i>✓</i> Alkali metals</label>
                <label c=aem><input type=radio name=c value=aem><i>✓</i> Alkaline earth metals</label>
                <label c=l><input type=radio name=c value=l><i>✓</i> Lanthanides</label>
                <label c=a><input type=radio name=c value=a><i>✓</i> Actinides</label>
                <label c=tm><input type=radio name=c value=tm><i>✓</i> Transition metals</label>
                <label c=ptm><input type=radio name=c value=ptm><i>✓</i> Post-transition metals</label>
            </fieldset>
        </div>
    </div>
    <div id="wrap">
        <div id="tables">
            <table class=elements>
                <tr>
                    {{#range 0 19}}
                        <th g>{{#if index}}{{index}}{{/if}}</th>
                    {{/range}}
                </tr>
                {{#range 1 8}}
                    <tr>
                        <th p>{{index}}</th>
                        {{#range 1 19}}
                            {{#with (getElementAtPosition ../index index)}}
                                <td s={{symbol}} c={{toInitialism groupBlock}} t={{meltingPoint}},{{boilingPoint}} y={{yearDiscovered}}>
                                    {{> element element=this zoom=../../../zoom}}
                                </td>
                            {{else}}
                                {{#if (isLanthanidesGroup ../index index)}}
                                    <td c=l class=lanthinedes>
                                        <div>
                                            <p class=an>57-71</p>
                                            <p class=s>*</p>
                                            <p class=n>Lanthanides</p>
                                        </div>
                                    </td>
                                {{else if (isActinidesGroup ../index index)}}
                                    <td c=a class=actinides>
                                        <div>
                                            <p class=an>89-103</p>
                                            <p class=s>**</p>
                                            <p class=n>Actinides</p>
                                        </div>
                                    </td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            {{/with}}
                        {{/range}}
                    </tr>
                {{/range}}
                <tr>
                    <th></th>
                    <th b colspan=2>s</th>
                    <th b colspan=10>d</th>
                    <th b colspan=6>p</th>
                </tr>
            </table>

            <table class="elements">
                <tr>
                    <th b rowspan=2>f</th>
                    <th g=l colspan=2>* Lanthanides</th>
                    {{#each (lanthanides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}" y={{yearDiscovered}}>
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
                <tr>
                    <th g=a colspan=2>** Actinides</th>
                    {{#each (actinides)}}
                        <td s={{symbol}} c={{toInitialism groupBlock}} t="{{meltingPoint}},{{boilingPoint}}" y={{yearDiscovered}}>
                            {{> element element=this zoom=../zoom}}
                        </td>
                    {{/each}}
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</body>