<div class="md details-wrap">
    <table class="details more-details">
        <tr>
            <th>Key Isotopes</th>
            <td>{{formatIsotopes element.keyIsotopes element.symbol}}</td>
        </tr>
        <tr>
            <th>Oxidization States</th>
            <td>{{element.oxidationStates}}</td>
        </tr>
        <tr>
            <th>Electronegativity</th>
            <td>{{element.electronegativity}}</td>
        </tr>
        <tr>
            <th>Atomic Radius (pm)</th>
            <td>{{element.atomicRadius}}</td>
        </tr>
        <tr>
            <th>Ionization Energy (kJ/mol)</th>
            <td>{{element.ionizationEnergy}}</td>
        </tr>
    </table>
</div>
