<div>
    <div class=r tabs>
        <ul class=tabs-nav>
            <li class=active><a href=#history-{{element.symbol}}>Info</a></li>
            <li><a href=#video-{{element.symbol}}>Video</a></li>
            <li><a href=#wiki-{{element.symbol}}>Wiki</a></li>
            <li><a href=#shop-{{element.symbol}}>Shop</a></li>
            <li><a href=#other-{{element.symbol}}>More</a></li>
        </ul>
        <div class=tabs-content>
            <div id=history-{{element.symbol}} class="tabs-content-pane active">
                {{#if element.images.length}}
                    <figure class="image">
                        <img src="/images/190/{{element.images.0.file}}" width="auto" height="190" alt="Image of {{element.name}}">
                        <figcaption>
                            <p class="attr"><small>
                                By <a href="{{element.images.0.attribution.url}}">{{element.images.0.attribution.name}}</a>
                                {{#if (equal element.images.0.license 'pd')}}
                                    [ Public Domain ]
                                {{else if element.images.0.license}}
                                    [ {{#with (getLicense element.images.0.license)}}<a href="{{url}}" target="_blank">{{shortName}}</a>{{/with}} ]
                                {{/if}}
                            </small></p>
                            <p>{{{element.images.0.description}}}</p>
                        </figcaption>
                    </figure>
                {{/if}}
                <p>{{marked element.info}}</p>
            </div>
            <div id=video-{{element.symbol}} class=tabs-content-pane>
                <div class=video>
                    <div class=iframe width=560 height=315 src="{{resource element "Youtube"}}" frameborder=0 allowfullscreen>
                        <p><a href={{resource element "Youtube"}} target=_blank>Video for {{element.name}}</a></p>
                    </div>
                </div>
            </div>
            <div id=wiki-{{element.symbol}} class="tabs-content-pane wiki-pane">
                <div class=iframe src="{{resource element "Wikipedia"}}?printable=yes">
                    <p><a href={{resource element "Wikipedia"}} target=_blank>Wikipedia entry for {{element.name}}</a></p>
                </div>
            </div>
            <div id=shop-{{element.symbol}} class="tabs-content-pane shop-pane">
                {{#if element.shop }}
                    <div class=ads term="{{element.shop.search}}" category="{{element.shop.category}}">
                        <div class=spinner></div>
                    </div>
                {{/if}}
            </div>
            <div id=other-{{element.symbol}} class=tabs-content-pane>
                <p>More resources on the web</p>
                <ul class=bullets>
                    {{#each (otherResources element)}}
                        <li><a href="{{url}}" target=_blank>{{name}}</a></li>
                    {{/each}}
                </ul>
                <p>Books</p>
                <div class=ads term="{{element.name}}" category="KindleStore" design="text_links">
                    <div class=spinner></div>
                </div>
                <p><a target="_blank" href="https://www.amazon.com/gp/search?ie=UTF8&tag=periodictab05-20&linkCode=ur2&linkId=9459b7308dc6320d7e9fe48b1ed039d4&camp=1789&creative=9325&index=digital-text&keywords={{element.name}} element">More Books about {{element.name}}</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=periodictab05-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
            </div>
        </div>
    </div>
</div>