<div>
    <div class=r tabs>
        <ul class=tabs-nav>
            <li class=active><a href=#wiki-{{element.symbol}}>Wikipedia</a></li>
            <li><a href=#video-{{element.symbol}}><span>Video</span></a></li>
            <li><a href=#other-{{element.symbol}}><span>Other resources</span></a></li>
        </ul>
        <div class=tabs-content>
            <div id=wiki-{{element.symbol}} class="tabs-content-pane wiki-pane">
                <!--<iframe src="https://en.wikipedia.org/wiki/Caesium?printable=yes" ></iframe>-->
            </div>
            <div id=video-{{element.symbol}} class=tabs-content-pane>
                <!-- ANY CONTENT HERE -->
            </div>
            <div id=other-{{element.symbol}} class=tabs-content-pane>
                <!-- ANY CONTENT HERE -->
            </div>
        </div>
    </div>
</div>